.character-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.character-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.character-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    height: fit-content;
    gap: 2rem;
    text-align: center;
    line-height: 1.2;
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}