.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    align-items: center;
    column-gap: 48px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-tagline {
    border: 1px solid rgba(153, 153, 153, 0.53);
    border-radius: 8px;
    padding: 8px 16px;
    width: fit-content;
    box-shadow: 2px 2px 12px rgba(211, 211, 211, 0.6);
    font-weight: 500;
    color: #ce0915;
}

.hero-copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.2;
}

.hero-copy h1 {
    font-size: 4rem;
}

.hero-copy h1 i {
    color: #ce0915;
}

.hero-copy p {
    color: rgba(51, 51, 51, 0.65);
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.button-prime {
    background: #ce0915;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.button-secondary {
    background: white;
    color: black;
    border: 1px solid rgba(152, 152, 152, 0.65);
    box-shadow: 2px 2px 12px rgba(227, 227, 227, 0.8);
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.hero-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
    margin-top: 4.5rem;
}