nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    margin: 2rem auto;
    padding: 0 1.2rem;
    border-radius: 32px;
    box-shadow: 2px 6px 18px rgba(110, 109, 109, 0.65);
    width: 70%;
}

.logo span {
    padding: 2rem 0;
    color: white;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    list-style: none;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #999;
}

.button-primary {
    padding: 1rem 0;
}

.button-primary button {
    background: white;
    color: rgba(0, 0, 0, 0.85);
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
}