.popular-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    line-height: 1.2;
}

.popular-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.popular-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-evenly;
    gap: 2rem;
}

.popular-card img {
    width: 45vw;
    height: 60vh;
    border-radius: 8px;
}