.showcase-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    line-height: 1.2;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.showcase-content h1 {
   font-size: 4rem;
    width: 65%;
}

.showcase-content i {
    color: #ce0915;
}

.showcase-content p {
    color: rgba(51, 51, 51, 0.65);
    line-height: 1.6;
}

.showcase-gif img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;
    border: 4px solid #dc0e1b;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.showcase-rating {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.showcase-stars {
    color: #ffcb4b;
}

.showcase-rating p {
    font-size: 1.5rem;
}

.rating-subtitle p {
    color: rgba(51, 51, 51, 0.65);
    line-height: 1.6;
}