@import "components/navbar-component.css";
@import "components/hero-component.css";
@import "components/showcase-component.css";
@import "components/popular-component.css";
@import "components/manga-component.css";
@import "components/character-component.css";
@import "components/review-component.css";
@import "components/conclusion-component.css";
@import "components/footer-component.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    gap: 120px;
    font-family: "Segoe UI", sans-serif;
}