nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}