.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    align-items: center;
    column-gap: 48px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-copy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.2;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
}