@import "components/navbar-component.css";
@import "components/hero-component.css";
@import "components/social-component.css";
@import "components/showcase-component.css";
@import "components/manga-component.css";
@import "components/character-component.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    gap: 180px;
    font-family: "Segoe UI", sans-serif;
}