.character-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 90%;
    margin: auto;
}

.character-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.character-content i {
    color: #dc0e1b;
}

.character-content h1 {
    font-size: 4rem;
}

.character-content p {
    color: rgba(51, 51, 51, 0.65);
    line-height: 1.6;
    width: 80%;
    margin: auto;
}

.character-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    height: fit-content;
    gap: 2rem;
    text-align: start;
    line-height: 1.2;
}

.character-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.character-tagline {
    border: 1px solid rgba(153, 153, 153, 0.53);
    border-radius: 8px;
    padding: 8px 16px;
    width: fit-content;
    box-shadow: 2px 2px 12px rgba(211, 211, 211, 0.6);
    font-weight: 500;
    font-size: 12px;
    color: rgb(220, 14, 27);
}

.character-card p {
    color: rgba(51, 51, 51, 0.65);
    line-height: 1.6;
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}