.conclusion-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    font-family: Inter, sans-serif;
}

.conclusion-section h2 {
    font-size: 64px;
    margin-bottom: 18px;
}

.conclusion-section p {
    font-size: 18px;
}

.conclusion-section button {
    border: none;
    background-color: black;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 18px;
}