.episodes-section {
    font-family: 'Inter', sans-serif;
    padding: 60px 24px;
    background-color: #000;
    color: #fff;
}

.episodes-section h2 {
    text-align: center;
    margin: 24px 0 89px;
    font-size: 64px;
    color: #fff;
}

.episode-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    padding: 0 24px;
    margin: 0 auto;
    max-width: 1400px;
}

.episode-card {
   text-align: center;
}

.episode-card img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 16px;
    aspect-ratio: 4 / 3;
}

.episodes-section h3 {
    font-size: 24px;
    margin: 12px 0 8px;
    color: #fff;
}

.episodes-section p {
    font-size: 18px;
    line-height: 1.5;
}
