.episodes-section {
    font-family: Inter, sans-serif;
}

.episode-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    padding: 24px;
    margin: 0 auto;
    max-width: 1400px;
}

.episode-card-container button {
    border: none;
    background-color: black;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 18px;
}

.episodes-section h2 {
    text-align: center;
    margin: 24px 0 32px;
    font-size: 64px;
}

.episodes-section h3 {
    font-size: 24px;
}

.episodes-section p {
    font-size: 18px;
}


.episode-card {
    border-style: solid;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.episode-card img {
    aspect-ratio: 4 / 3;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}