.hero-section {
    font-family: Inter, sans-serif;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    align-items: center;
    column-gap: 48px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: auto;
    height: auto;
}

.hero-elements h1 {
    margin: 0;
    font-size: 64px;
}

.hero-elements p {
    margin: 0;
    font-size: 18px;
}

.hero-elements button {
    border: none;
    background-color: black;
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 18px;
}

.hero-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
}
