.manga-section {
    font-family: Inter, sans-serif;
}

.manga-section h2 {
    font-size: 54px;
}

.manga-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 24px;
    padding: 24px;
    margin: 0 auto;
    max-width: 1500px;
    background-color: #000;
}

.manga-card {
    background: rgba(255, 255, 255, 0.05);   /* very transparent white */
    backdrop-filter: blur(10px);              /* frosted glass effect */
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.manga-card:hover {

    transform: translateY(-30px);
    box-shadow: 0 8px 24px rgba(255, 255, 255, 0.1);
}

.manga-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.manga-text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.manga-section h2 {
    text-align: center;
    margin: 32px 32px ;
}

.manga-card h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.manga-card p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
}
