.header-container {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-family: Inter, sans-serif;
    color: black;
    margin-right: 32px;
    margin-left: 32px;
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
}

.header-container nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
}

.header-container a {
    text-decoration: none;
    color: black;
}

.header-container button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 700;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}