@import "navbar.css";
@import "hero.css";
@import "about.css";
@import "characters.css";
@import "episodes.css";
@import "manga.css";
@import "conclusion.css";
@import "footer.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    flex-direction: column;
    gap: 8rem;
}

